.dark-primary {
    color: #2A254B
}

.primary {
    color: #4E4D93
}

.light-grey {
    color: #F9F9F9   
}

.border-grey {
    color: #EBE8F4
}

.white {
    color: #FFFFFF
}

.border-dark {
 color: #CAC6DA   
}