@media only screen and (min-width: 950px) {
  .add-cart {
    display: flex;
    align-items: center;
    margin-top: 25%;
  }

  .add-cart__add_btn {
    border: none;
    cursor: pointer;
    background: #2a254b;
    stroke: #4e4d93;
    stroke-width: 0.063rem;
    margin-left: auto;
    padding-top: 1.25rem;
    padding-right: 3.125rem;
    padding-bottom: 1.25rem;
    padding-left: 3.125rem;
    align-items: center;
    justify-items: center;
  }
  
  .add-cart__stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.563rem;
    background-color: #f9f9f9;
  }
}

@media only screen and (min-width: 600px) and (max-width: 949px){
  .add-cart {
    margin-top: 25%;
  }

  .add-cart__stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    gap: 1.563rem;
    background-color: #f9f9f9;
  }
  
  .add-cart__add_btn {
    width: 100%;
    border: none;
    cursor: pointer;
    background: #2a254b;
    stroke: #4e4d93;
    stroke-width: 0.063rem;
    margin-top: 3%;
    margin-left: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    align-items: center;
    justify-items: center;
}
}
@media only screen and (min-width: 0px) and (max-width: 599px){
.add-cart {
  margin-top: 25%;
}

.add-cart__stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  gap: 1.563rem;
  background-color: #f9f9f9;
}

.add-cart__add_btn {
  width: 100%;
  border: none;
  cursor: pointer;
  background: #2a254b;
  stroke: #4e4d93;
  stroke-width: 0.063rem;
  margin-top: 3%;
  margin-left: auto;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  align-items: center;
  justify-items: center;
}
}

.add-cart__amount_text {
  margin-right: 7%;
  margin-bottom: 0;
}

.add-cart__change_btn {
  width: 2.188rem;
  height: 3.125rem;
  border: none;
  cursor: pointer;
  background: none;
}

.add-cart__change_symbol {
  margin: 0;
}

.add-cart__quantity_text {
  margin-bottom: 0;
}

.add-cart__add_text {
  margin-bottom: 0;
  white-space: nowrap;
}
