.brand-feature__image{
    width: 1.5rem;
    height: 1.5rem
}
.brand-feature__name {
    margin-top: 5%;
    margin-bottom: 0
}
.brand-feature__desc {
    width: 27ch;
    margin-top: 5%;
    margin-bottom: 0
}